@import '~@angular/material/theming';

@include mat-core();

// $primary: mat-palette($mat-red);
// $accent: mat-palette($mat-blue);

// $theme: mat-light-theme($primary, $accent);

// @include angular-material-theme($theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
    @include angular-material-theme($dark-theme);
}

$candy-primary: mat-palette($mat-red);
$candy-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-warn:    mat-palette($mat-red);
$candy-theme:   mat-light-theme($candy-primary, $candy-accent, $candy-warn);

.candy-theme {
    @include angular-material-theme($candy-theme);
}
