<section fxFlexLayout="column" fxLayoutGap="20px">
  <a href="https://angular.io/" target="_blank">Angular</a>
  <p>TypeScript-based open-source front-end web application platform</p>
  <a href="https://material.angular.io/" target="_blank">Angular Material</a>
  <p>Material Design components for Angular</p>
  <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>
  <p>A command line interface for Angular</p>
  <a href="http://ngrx.github.io/" target="_blank">@ngrx</a>
  <p>Reactive libraries for Angular</p>
  <a href="https://www.mongodb.com/">MongoDB</a>
  <p>Document database</p>
  <a href="http://mongoosejs.com/">mongoose</a>
  <p>MongoDB object modeling for NodeJS</p>
  <a href="http://typeorm.io/#/">TypeORM</a>
  <p>ORM for NodeJS and TypeScript</p>
</section>