<mat-toolbar color="primary">
  <button [disabled]="!(isAuth$ | async)" mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <a routerLink="/">Header</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="menu">
      <li *ngIf="isAuth$ | async">
        <a routerLink="/bag">Bag</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/user">User</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>