// section {
//     padding: 10px;
//     // background: white;
// }

.title {
    font-size: 20px;
}

// .actions {
//     color: rgba(0, 0, 0, 0.54);
// }

.header-group {
    padding: 8px;
}

.card {
    padding: 8px;
}